
    <!--https://swiperjs.com/swiper-api-->
    <!--
<swiper [effect]="'cards'"
        [grabCursor]="true"
        [navigation]="true"
        [pagination]="true"
        *ngIf="content">  
    -->
<ng-container *ngIf="content">
    <div class="screen-cover">
        <a class="close-button" role="button" tabindex="0" (click)="hide()" *ngIf="content">X</a>
    </div>
    
    <swiper [effect]="'coverflow'"
            [grabCursor]="true"
            [navigation]="true"
            [pagination]="true"
    
            [centeredSlides]="true"
            [slidesPerView]="'auto'"
            [coverflowEffect]="{
                rotate: 20,
                stretch: 200,
                depth: 100,
                modifier: 1,
                slideShadows: true
            }">
    
        <ng-template swiperSlide *ngFor="let item of items; trackBy: trackByFn" >
          
                <!--The Postcard-->
                <ng-container *ngIf="item.type=='postcard'">
                    <app-postcard></app-postcard>
                </ng-container>
                
                <!--The Photos-->
                <ng-container *ngIf="item.type=='media'">
                    <app-photo [post]="item.item"></app-photo>
                </ng-container>
      
        </ng-template>
           

    </swiper>

    
    
</ng-container>

