<swiper [effect]="'cards'"
        [grabCursor]="true"
        [navigation]="true"
        [pagination]="true"
        *ngIf="content">

    <ng-template swiperSlide *ngFor="let item of items; trackBy: trackByFn" let-data>
        <div>
            <!--The Postcard-->
            <ng-container *ngIf="item.type=='postcard'">
                <app-postcard></app-postcard>
            </ng-container>
            
            <!--The Photos-->
            <ng-container *ngIf="item.type=='media'">
                <app-photo [post]="item.item"></app-photo>
            </ng-container>
        </div>
    </ng-template>
       
</swiper>


<a class="close-button" role="button" tabindex="0" (click)="hide()" *ngIf="content">Close</a>

