
<div class="main-container">
    <div class="map">

        <!--The outline-->
        <picture >
            <source srcset="./assets/images/map-outline.webp"
            media="(min-width: 400px)" type="image/webp">
            <img src="./assets/images/map-outline.png" class="img-cutout" alt="" />
        </picture>

        <!--The Map Container-->
        <div class="map-container" id="map-container" #mapViewNode></div>
    </div>

    <app-gallery></app-gallery>
</div>


<div class="info-section">
    <div class="info-container">
        <!--background-->
        <picture class="horiz-paper">
            <source srcset="./assets/images/blank-vintage-paper900.webp" type="image/webp">
            <img src="./assets/images/blank-vintage-paper900.png" alt="" />
        </picture>
        <picture class="vert-paper">
            <source srcset="./assets/images/blank-vintage-paper900v.webp" type="image/webp">
            <img src="./assets/images/blank-vintage-paper900v.png" alt="" />
        </picture>

        <!--Text-->
        <div class="text-area">
            <h2 style="text-align: center; font-family: 'Parisienne', cursive;">Slow Camino Destinations</h2>
            <p>Click on the markers to view a selection of photos and a brief description. 
                When available, we'll provide links to articles we've written.
            </p>
               

            <div>
                <div style="display: block"> 
                    <div style="display: inline-block"><img src="./assets/symbols/pirate-x-1b.png" style="width: 26px;"> = where we've been</div>
                </div>
                <div style="display: block"> 
                    <div style="display: inline-block"><img src="./assets/symbols/pirate-x-5b.png" style="width: 26px;"> = recent travel</div>
                </div>              
            </div>
            <p>
                <small>*HINT: Use two fingers to move the map on touch screens.</small>
            </p>
           
        </div>
    </div>
</div>


