

.main-container {
    height: 80vh;
    width: 100vw;
    max-width: 1050px;
    position: relative;
    background-color: transparent;
}

.img-cutout {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events:none;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-container {
    position: absolute;
    z-index: 0;
    left: 4%;
    top: 4%;
    height:94%;
    width: 92%;
    background-color: #d7d1ba;
}

.info {
    margin: 0 3%;
    color: #484848;  
    text-align: center;
}

@media only screen and (max-width: 668px) {
    .img-cutout {
        display: none;
    }

    .main-container {
        height: 100vh;
    }

    .map-container {
        top: 0;
        left:0;
        width: 100%;
        height: calc(100% - 140px);
    }
}