@import "https://js.arcgis.com/4.19/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://fonts.googleapis.com/css2?family=Parisienne&display=swap";

/* You can add global styles to this file, and also import other style files */
html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-attribution {
    background-color: transparent;
    width: 230px;
    word-wrap: normal;
    height: max-content;
    bottom: 8%!important;
    top:unset;
    display:block;
    font-family: 'Parisienne', cursive;
    font-size: 18px;
    line-height: 20px;
    pointer-events: none!important;
}

.esri-attribution__sources {
  overflow:unset;
  white-space:normal;
}

.esri-attribution__powered-by {
  text-align: left;
}

.esri-zoom {
  background-color: transparent!important;
  box-shadow: none!important;
  position: absolute;
  z-index: 2;
  top: 30px;
}

.esri-zoom .esri-widget--button {
border-radius: 50% !important;
box-shadow: 0 4px 10px rgb(0 0 0 / 30%)!important;
background-color: #fdfeff!important;
margin-bottom: 5px!important;
}

