<div class="post-card-outer" *ngIf="content">
    <div class="post-card-photo">
        <!--<img [src]="content.Image">-->
        <picture>
            <source srcset="{{content.Image}}.webp"
                    media="(min-width: 400px)" type="image/webp">
            <img [src]="content.Image" alt="" />
        </picture>
    </div>
    <div class="post-card-content">
        <!--Stamp-->
        <div class="postmark">       
            <img src="./assets/images/postmark.png">
        </div>

        <!--Header-->
        <h3 style="margin-bottom:0;">{{content.Title}}<br>
            <small >{{content.Visited}} 
               <!--<button tabindex="0" (click)="ZoomTo()">zoom-to</button>--> 
            </small>
        </h3>

        <!--Content-->
        <p class="mtb" [innerHTML]="content.Content"></p>

        <!--Articles-->
        <div class="articles mtb" *ngFor="let article of content.Articles">
            <a href="{{article.url}}" target="_blank">
                <div class="article">               
                    <h4>{{article.title}} 
                        <a *ngIf="!includeExcerpt" href="{{article.url}}" target="_blank"><small>read...</small></a>
                    </h4>
                    <p *ngIf="includeExcerpt">{{article.excerpt}} <a href="{{article.url}}" target="_blank"><small>read more</small></a></p>                    
                </div>
            </a>
        </div>

    </div>
</div>