<div class="post-card-outer" *ngIf="content">
    <div class="post-card-photo">
        <!--<img [src]="content.Image">-->
        <picture>
            <source srcset="{{content.Image}}.webp"
                    media="(min-width: 400px)" type="image/webp">
            <img [src]="content.Image" alt="" />
        </picture>
    </div>
    <div class="post-card-content">
        <div class="postmark">
            
            <img src="./assets/images/postmark.png">
        </div>
        <h3 style="margin-bottom:0;">{{content.Title}}<br><small >{{content.Visited}}</small></h3>
        <p class="mtb">{{content.Content}}</p>
        <!--<p><small>Read more...</small></p>-->

        <div class="articles mtb" *ngFor="let article of content.Articles">
            <a href="{{article.url}}" target="_blank">
                <div class="article">               
                    <h4>{{article.title}} 
                        <a *ngIf="!includeExcerpt" href="{{article.url}}" target="_blank"><small>read...</small></a>
                    </h4>
                    <p *ngIf="includeExcerpt">{{article.excerpt}} <a href="{{article.url}}" target="_blank"><small>read more</small></a></p>                    
                </div>
            </a>
        </div>

    </div>
</div>