<div class="post-card-outer" *ngIf="content">
    <div class="post-card-photo">
        <!--<img [src]="content.Image">-->
        <picture>
            <source srcset="{{content.Image}}.webp"
                    media="(min-width: 400px)" type="image/webp">
            <img [src]="content.Image" alt="" />
        </picture>
    </div>
    <div class="post-card-content">
        <div class="postmark">
            
            <img src="./assets/images/postmark.png">
        </div>
        <h3>{{content.Title}}</h3>
        <p>{{content.Content}}</p>
        <!--<p><small>Read more...</small></p>-->
        <a>
            <div class="articles" *ngFor="let article of content.Articles">
                <a href="{{article.url}}" target="_blank">
                    <div class="article">               
                        <h4>{{article.title}}</h4>
                        <p>{{article.excerpt}} <a href="{{article.url}}" target="_blank"><small>read more</small></a></p>                    
                    </div>
                </a>
            </div>
        </a>      
    </div>
</div>